In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    data = pd.read_csv('university_towns.txt', sep="\n", header=None)
    data.columns = ["RegionName"]
    data['State'] = data['RegionName'].where(data['RegionName'].str.endswith('[edit]'))
    data["RegionName"]= data["RegionName"].str.replace('\[.*','').str.replace('\s*\(.*','')
    data["State"]= data["State"].str.replace('\[.*','').fillna(method='ffill')
    data = data[data['State']!=data['RegionName']]
    return data[['State','RegionName']]
get_list_of_university_towns().info()
get_list_of_university_towns().sample(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 1 to 566
Data columns (total 2 columns):
State         517 non-null object
RegionName    517 non-null object
dtypes: object(2)
memory usage: 12.1+ KB

             State   RegionName
559      Wisconsin      Oshkosh
265       Missouri        Rolla
408   Pennsylvania      Altoona
488          Texas       Austin
77         Florida  Gainesville
539     Washington      Pullman
533       Virginia         Wise
211  Massachusetts  Springfield
110       Illinois   Charleston
274       Nebraska      Kearney

In [4]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    quarterly = pd.read_excel('gdplev.xls',header=5, skiprows=[6,7],parse_cols="E,G")
    quarterly = quarterly[quarterly.index.str.startswith('20')]
    start = ''
    row=1
    flag=0 # not in recession already
    while row < len(quarterly)-1:
        if (quarterly.iloc[row,0]<quarterly.iloc[row-1,0]) & (quarterly.iloc[row,0]>quarterly.iloc[row+1,0]) & (flag==0):
            start+=quarterly.index[row]
            row+=2 # 
            flag=1 # next consecutive decline doesn't count as beginning if flag==1, meaning recession begins
        else:
            row+=1
            flag=0 # not in recession
    return start
print('The recession started at '+get_recession_start())

The recession started at 2008q3

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''

    quarterly = pd.read_excel('gdplev.xls',header=5, skiprows=[6,7],parse_cols="E,G")
    quarterly = quarterly[quarterly.index.str.startswith('20')]
    end = ''
    row=quarterly.index.get_loc(get_recession_start())+2
    while row < len(quarterly)-1:
        if (quarterly.iloc[row,0]>quarterly.iloc[row-1,0]) & (quarterly.iloc[row,0]<quarterly.iloc[row+1,0]):
            end+=quarterly.index[row+1]
            break
        else:
            row+=1
    return end
print('The recession ended at '+ get_recession_end())

The recession ended at 2009q4

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''

    quarterly = pd.read_excel('gdplev.xls',header=5, skiprows=[6,7],parse_cols="E,G")
    quarterly = quarterly[quarterly.index.str.startswith('20')]
    start = quarterly.index.get_loc(get_recession_start())
    end = quarterly.index.get_loc(get_recession_end())
    return quarterly.iloc[start:end,0].idxmin()
print('The recession bottom is at ' + get_recession_bottom())

The recession bottom is at 2009q2

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    data = pd.read_csv('City_Zhvi_AllHomes.csv', sep=",", header=0, index_col=[2,1])
    data = data.loc[:,data.columns.str.startswith('20')]
    data.columns = pd.to_datetime(data.columns).to_period('M')
    data = data.resample('Q',axis=1).mean()
    for col in data.columns:
        data.rename(columns={col:'{}q{}'.format(col.year, col.quarter)}, inplace=True)
    data.rename(index=states,inplace=True)   
    return data

#type(convert_housing_data_to_quarters().loc["Texas"].loc["Austin"].loc["2010q3"])
convert_housing_data_to_quarters().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10730 entries, (New York, New York) to (Wisconsin, Holland)
Data columns (total 67 columns):
2000q1    9355 non-null float64
2000q2    9357 non-null float64
2000q3    9374 non-null float64
2000q4    9376 non-null float64
2001q1    9409 non-null float64
2001q2    9410 non-null float64
2001q3    9420 non-null float64
2001q4    9420 non-null float64
2002q1    9435 non-null float64
2002q2    9436 non-null float64
2002q3    9454 non-null float64
2002q4    9455 non-null float64
2003q1    9509 non-null float64
2003q2    9509 non-null float64
2003q3    9568 non-null float64
2003q4    9568 non-null float64
2004q1    9623 non-null float64
2004q2    9625 non-null float64
2004q3    9666 non-null float64
2004q4    9673 non-null float64
2005q1    9730 non-null float64
2005q2    9739 non-null float64
2005q3    9772 non-null float64
2005q4    9778 non-null float64
2006q1    9807 non-null float64
2006q2    9807 non-null float64
2006q3    9818 non-null float64
2006q4    9818 non-null float64
2007q1    9832 non-null float64
2007q2    9832 non-null float64
2007q3    9850 non-null float64
2007q4    9850 non-null float64
2008q1    9855 non-null float64
2008q2    9856 non-null float64
2008q3    9884 non-null float64
2008q4    9885 non-null float64
2009q1    9912 non-null float64
2009q2    9930 non-null float64
2009q3    10078 non-null float64
2009q4    10089 non-null float64
2010q1    10228 non-null float64
2010q2    10254 non-null float64
2010q3    10610 non-null float64
2010q4    10610 non-null float64
2011q1    10632 non-null float64
2011q2    10633 non-null float64
2011q3    10672 non-null float64
2011q4    10672 non-null float64
2012q1    10699 non-null float64
2012q2    10700 non-null float64
2012q3    10729 non-null float64
2012q4    10730 non-null float64
2013q1    10730 non-null float64
2013q2    10730 non-null float64
2013q3    10730 non-null float64
2013q4    10730 non-null float64
2014q1    10730 non-null float64
2014q2    10730 non-null float64
2014q3    10730 non-null float64
2014q4    10730 non-null float64
2015q1    10730 non-null float64
2015q2    10730 non-null float64
2015q3    10730 non-null float64
2015q4    10730 non-null float64
2016q1    10730 non-null float64
2016q2    10730 non-null float64
2016q3    10730 non-null float64
dtypes: float64(67)
memory usage: 5.6+ MB

In [8]:
convert_housing_data_to_quarters().sample(10)

                                            2000q1         2000q2  \
State         RegionName
Texas         Scenic Oaks            194000.000000  197166.666667
Wisconsin     Waukesha               141266.666667  138433.333333
Mississippi   Hollandale                       NaN            NaN
Florida       Jacksonville            88600.000000   89700.000000
Massachusetts Franklin               224166.666667  232633.333333
New York      Weedsport               69366.666667   70333.333333
              Town of Newark Valley   69600.000000   67700.000000
Texas         Meadowlakes                      NaN            NaN
Alabama       Lillian                130966.666667  134033.333333
New Jersey    Laurel Lake             48466.666667   48100.000000

                                            2000q3         2000q4  \
State         RegionName
Texas         Scenic Oaks            197100.000000  194700.000000
Wisconsin     Waukesha               136733.333333  139833.333333
Mississippi   Hollandale                       NaN            NaN
Florida       Jacksonville            91700.000000   93100.000000
Massachusetts Franklin               241400.000000  249366.666667
New York      Weedsport               72266.666667   70000.000000
              Town of Newark Valley   66900.000000   65666.666667
Texas         Meadowlakes                      NaN            NaN
Alabama       Lillian                131700.000000  129666.666667
New Jersey    Laurel Lake             48266.666667   48433.333333

                                            2001q1         2001q2  \
State         RegionName
Texas         Scenic Oaks            194966.666667  189000.000000
Wisconsin     Waukesha               147600.000000  151066.666667
Mississippi   Hollandale                       NaN            NaN
Florida       Jacksonville            94400.000000   95600.000000
Massachusetts Franklin               258533.333333  266566.666667
New York      Weedsport               67133.333333   66566.666667
              Town of Newark Valley   65133.333333   65966.666667
Texas         Meadowlakes                      NaN            NaN
Alabama       Lillian                130700.000000  132366.666667
New Jersey    Laurel Lake             49633.333333   51733.333333

                                            2001q3         2001q4  \
State         RegionName
Texas         Scenic Oaks            186266.666667  190733.333333
Wisconsin     Waukesha               153100.000000  155033.333333
Mississippi   Hollandale                       NaN            NaN
Florida       Jacksonville            97066.666667   99066.666667
Massachusetts Franklin               275566.666667  285766.666667
New York      Weedsport               66933.333333   67600.000000
              Town of Newark Valley   63833.333333   64500.000000
Texas         Meadowlakes                      NaN            NaN
Alabama       Lillian                131300.000000  134333.333333
New Jersey    Laurel Lake             50900.000000   49400.000000

                                            2002q1         2002q2    ...     \
State         RegionName                                             ...
Texas         Scenic Oaks            192500.000000  193300.000000    ...
Wisconsin     Waukesha               158200.000000  157833.333333    ...
Mississippi   Hollandale                       NaN            NaN    ...
Florida       Jacksonville           101233.333333  103433.333333    ...
Massachusetts Franklin               293000.000000  302000.000000    ...
New York      Weedsport               70966.666667   73833.333333    ...
              Town of Newark Valley   65500.000000   66833.333333    ...
Texas         Meadowlakes                      NaN            NaN    ...
Alabama       Lillian                138566.666667  139866.666667    ...
New Jersey    Laurel Lake             43833.333333   42900.000000    ...

                                            2014q2         2014q3  \
State         RegionName
Texas         Scenic Oaks            324033.333333  322633.333333
Wisconsin     Waukesha               181166.666667  180433.333333
Mississippi   Hollandale              50800.000000   55066.666667
Florida       Jacksonville           120766.666667  121733.333333
Massachusetts Franklin               355533.333333  361400.000000
New York      Weedsport              106400.000000  104900.000000
              Town of Newark Valley   97800.000000   98633.333333
Texas         Meadowlakes            212166.666667  215800.000000
Alabama       Lillian                158666.666667  158366.666667
New Jersey    Laurel Lake             74266.666667   71100.000000

                                            2014q4         2015q1  \
State         RegionName
Texas         Scenic Oaks            324866.666667  327933.333333
Wisconsin     Waukesha               180066.666667  180433.333333
Mississippi   Hollandale              58700.000000   59900.000000
Florida       Jacksonville           123166.666667  124166.666667
Massachusetts Franklin               361933.333333  364833.333333
New York      Weedsport              105500.000000  102200.000000
              Town of Newark Valley   96533.333333   99800.000000
Texas         Meadowlakes            217166.666667  217833.333333
Alabama       Lillian                159066.666667  158900.000000
New Jersey    Laurel Lake             70066.666667   68400.000000

                                            2015q2         2015q3  \
State         RegionName
Texas         Scenic Oaks            331466.666667  337033.333333
Wisconsin     Waukesha               183766.666667  187033.333333
Mississippi   Hollandale              60366.666667   60066.666667
Florida       Jacksonville           126900.000000  130133.333333
Massachusetts Franklin               368466.666667  375733.333333
New York      Weedsport              100866.666667  101133.333333
              Town of Newark Valley  101833.333333  102533.333333
Texas         Meadowlakes            217100.000000  218000.000000
Alabama       Lillian                159533.333333  160600.000000
New Jersey    Laurel Lake             71700.000000   77400.000000

                                            2015q4         2016q1  \
State         RegionName
Texas         Scenic Oaks            338966.666667  339666.666667
Wisconsin     Waukesha               190266.666667  191133.333333
Mississippi   Hollandale              59500.000000   59233.333333
Florida       Jacksonville           132000.000000  133966.666667
Massachusetts Franklin               385666.666667  388166.666667
New York      Weedsport              102066.666667  102700.000000
              Town of Newark Valley  102666.666667  103566.666667
Texas         Meadowlakes            220000.000000  220233.333333
Alabama       Lillian                161966.666667  163333.333333
New Jersey    Laurel Lake             80100.000000   81166.666667

                                            2016q2    2016q3
State         RegionName
Texas         Scenic Oaks            344166.666667  345950.0
Wisconsin     Waukesha               193966.666667  199000.0
Mississippi   Hollandale              57300.000000   59050.0
Florida       Jacksonville           137200.000000  139900.0
Massachusetts Franklin               386500.000000  392050.0
New York      Weedsport              105100.000000  107800.0
              Town of Newark Valley  102866.666667   99100.0
Texas         Meadowlakes            224766.666667  225600.0
Alabama       Lillian                162400.000000  162000.0
New Jersey    Laurel Lake             83133.333333   83500.0

[10 rows x 67 columns]

In [9]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    # General approach
    # https://www.coursera.org/learn/python-data-analysis/discussions/weeks/4/threads/F6mWJ7SbEeeKBBKJgknU5g/replies/BugGeLcIEee5Ew6CaivGLg
    
    # How to separate two groups
    # https://www.coursera.org/learn/python-data-analysis/discussions/weeks/4/threads/n6epwLCKEeewNAofllqCYg/replies/MXQdwbCyEeeu0xJuJy4ScA
    
    # Create new data showing the decline or growth of housing prices between the recession start and the recession bottom. 
    start = convert_housing_data_to_quarters().columns.get_loc(get_recession_start())
    bottom = convert_housing_data_to_quarters().columns.get_loc(get_recession_bottom())
    prices = convert_housing_data_to_quarters().iloc[:,start-1:bottom+1]
    prices['Price Ratio'] = prices.iloc[:,0]/prices.iloc[:,-1]

    # Divide the 'prices' into 2 sets: university towns and non-university towns
    uni_index = list(get_list_of_university_towns().itertuples(index=False, name=None))
    uni_index = [x for x in uni_index if x in prices.index]
    uni_prices = prices.loc[uni_index]
    non_prices = prices.loc[-prices.index.isin(uni_index)]
    # Or non_prices = prices.loc[list(set([x for x in prices.index if x not in uni_index]))]
    # len(non_prices)+len(uni_prices)

    print('University Town Prices')
    print('-'*40)
    print(uni_prices.iloc[:,[0,-2,-1]].info())
    print('-'*70)
    print(uni_prices.iloc[:,[0,-2,-1]].sample(10))
    print('-'*70)
    print('Non-university Town Prices')
    print('-'*40)
    print(non_prices.iloc[:,[0,-2,-1]].info())
    print('-'*70)
    print(non_prices.iloc[:,[0,-2,-1]].sample(10))
    # Run a ttest comparing the university town values to the non-university towns values, 
    # return whether the alternative hypothesis (that the two groups are the same) 
    # is true or not as well as the p-value of the confidence. 

    _,pvalue=ttest_ind(uni_prices['Price Ratio'],non_prices['Price Ratio'],nan_policy='omit',equal_var = False)
    different = pvalue<0.01
    tmp = uni_prices['Price Ratio'].mean()>non_prices['Price Ratio'].mean()
    better = 'university town'*(1-tmp)+'non-university town'*tmp
    
    return (different,pvalue,better)
run_ttest()

University Town Prices
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 269 entries, (Alabama, Montevallo) to (Wisconsin, Waukesha)
Data columns (total 3 columns):
2008q2         257 non-null float64
2009q2         259 non-null float64
Price Ratio    257 non-null float64
dtypes: float64(3)
memory usage: 72.1+ KB
None
----------------------------------------------------------------------
                                    2008q2         2009q2  Price Ratio
State          RegionName
Louisiana      Thibodaux               NaN            NaN          NaN
Texas          Stephenville  106433.333333  135266.666667     0.786841
Ohio           Bluffton      123000.000000  117400.000000     1.047700
Texas          Canyon        109766.666667  116400.000000     0.943013
Montana        Dillon                  NaN            NaN          NaN
Pennsylvania   Kutztown      187900.000000  172066.666667     1.092019
North Carolina Davidson      278733.333333  268800.000000     1.036954
Illinois       Peoria         95133.333333   93966.666667     1.012416
Connecticut    Fairfield     551500.000000  500233.333333     1.102486
Tennessee      Murfreesboro  150466.666667  146666.666667     1.025909
----------------------------------------------------------------------
Non-university Town Prices
----------------------------------------
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10461 entries, (New York, New York) to (Wisconsin, Holland)
Data columns (total 3 columns):
2008q2         9599 non-null float64
2009q2         9671 non-null float64
Price Ratio    9599 non-null float64
dtypes: float64(3)
memory usage: 340.8+ KB
None
----------------------------------------------------------------------
                                           2008q2         2009q2  Price Ratio
State         RegionName
California    Santa Ysabel          430900.000000  385366.666667     1.118156
Illinois      Knoxville                       NaN            NaN          NaN
Indiana       North Manchester       87500.000000   90033.333333     0.971862
California    Forest Ranch          284466.666667  272466.666667     1.044042
New Hampshire Middleton             191433.333333  179933.333333     1.063913
California    Point Reyes Station   770733.333333  676266.666667     1.139688
              San Joaquin           159600.000000  133633.333333     1.194313
Michigan      Spring Lake Township  201466.666667  184900.000000     1.089598
Illinois      Dekalb                171866.666667  166133.333333     1.034510
Louisiana     Destrehan             198366.666667  193133.333333     1.027097

(True, 0.00041476360323563257, 'university town')